In [1]:
!conda info

     active environment : joh_env
    active env location : C:\Users\johan\.conda\envs\joh_env
            shell level : 1
       user config file : C:\Users\johan\.condarc
 populated config files :
          conda version : 23.3.0
    conda-build version : not installed
         python version : 3.10.9.final.0
       virtual packages : __archspec=1=x86_64
                          __win=0=0
       base environment : C:\ProgramData\miniconda3  (writable)
      conda av data dir : C:\ProgramData\miniconda3\etc\conda
  conda av metadata url : None
           channel URLs : https://repo.anaconda.com/pkgs/main/win-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/win-64
                          https://repo.anaconda.com/pkgs/r/noarch
                          https://repo.anaconda.com/pkgs/msys2/win-64
                          https://repo.anaconda.com/pkgs/msys2/noarch
          package cache : C:\ProgramData\miniconda3\pkgs
                          C:\Users\johan\.conda\pkgs
                          C:\Users\johan\AppData\Local\conda\conda\pkgs
       envs directories : C:\ProgramData\miniconda3\envs
                          C:\Users\johan\.conda\envs
                          C:\Users\johan\AppData\Local\conda\conda\envs
               platform : win-64
             user-agent : conda/23.3.0 requests/2.28.1 CPython/3.10.9 Windows/10 Windows/10.0.22621
          administrator : False
             netrc file : None
           offline mode : False

this to check the environment within jupyter.
the same in terminal is possible with: **conda info --envs**

what I had to do to use pandas was: **conda activate base** > base is the name of the environment

I also deleted all the other environments, and reinstalled pandas and pymongo in the base environment

In [3]:
from pymongo import MongoClient
import pandas as pd
# import json
import os

uri = os.getenv('MONGO_URI')
client = MongoClient(uri)
db = client.sample_guides


item = db.planets.find({})

turn into a list

In [2]:
docs = []
for doc in item:
    docs.append(doc)

print(docs)

[{'_id': ObjectId('621ff30d2a3e781873fcb65c'), 'name': 'Mercury', 'orderFromSun': 1, 'hasRings': False, 'mainAtmosphere': [], 'surfaceTemperatureC': {'min': -173, 'max': 427, 'mean': 67}}, {'_id': ObjectId('621ff30d2a3e781873fcb65d'), 'name': 'Uranus', 'orderFromSun': 7, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -197.2}}, {'_id': ObjectId('621ff30d2a3e781873fcb65e'), 'name': 'Mars', 'orderFromSun': 4, 'hasRings': False, 'mainAtmosphere': ['CO2', 'Ar', 'N'], 'surfaceTemperatureC': {'min': -143, 'max': 35, 'mean': -63}}, {'_id': ObjectId('621ff30d2a3e781873fcb65f'), 'name': 'Neptune', 'orderFromSun': 8, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -201}}, {'_id': ObjectId('621ff30d2a3e781873fcb660'), 'name': 'Jupiter', 'orderFromSun': 5, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -145.15}}, {'_id': ObjectId('621ff30d2a3e781873fcb661'), 'name': 'Earth', 'orderFromSun': 3, 'hasRings': False, 'mainAtmosphere': ['N', 'O2', 'Ar'], 'surfaceTemperatureC': {'min': -89.2, 'max': 56.7, 'mean': 14}}, {'_id': ObjectId('621ff30d2a3e781873fcb662'), 'name': 'Venus', 'orderFromSun': 2, 'hasRings': False, 'mainAtmosphere': ['CO2', 'N'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': 464}}, {'_id': ObjectId('621ff30d2a3e781873fcb663'), 'name': 'Saturn', 'orderFromSun': 6, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -139.15}}]

or:

In [3]:
print(list(item))

[{'_id': ObjectId('621ff30d2a3e781873fcb65c'), 'name': 'Mercury', 'orderFromSun': 1, 'hasRings': False, 'mainAtmosphere': [], 'surfaceTemperatureC': {'min': -173, 'max': 427, 'mean': 67}}, {'_id': ObjectId('621ff30d2a3e781873fcb65d'), 'name': 'Uranus', 'orderFromSun': 7, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -197.2}}, {'_id': ObjectId('621ff30d2a3e781873fcb65e'), 'name': 'Mars', 'orderFromSun': 4, 'hasRings': False, 'mainAtmosphere': ['CO2', 'Ar', 'N'], 'surfaceTemperatureC': {'min': -143, 'max': 35, 'mean': -63}}, {'_id': ObjectId('621ff30d2a3e781873fcb65f'), 'name': 'Neptune', 'orderFromSun': 8, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -201}}, {'_id': ObjectId('621ff30d2a3e781873fcb660'), 'name': 'Jupiter', 'orderFromSun': 5, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -145.15}}, {'_id': ObjectId('621ff30d2a3e781873fcb661'), 'name': 'Earth', 'orderFromSun': 3, 'hasRings': False, 'mainAtmosphere': ['N', 'O2', 'Ar'], 'surfaceTemperatureC': {'min': -89.2, 'max': 56.7, 'mean': 14}}, {'_id': ObjectId('621ff30d2a3e781873fcb662'), 'name': 'Venus', 'orderFromSun': 2, 'hasRings': False, 'mainAtmosphere': ['CO2', 'N'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': 464}}, {'_id': ObjectId('621ff30d2a3e781873fcb663'), 'name': 'Saturn', 'orderFromSun': 6, 'hasRings': True, 'mainAtmosphere': ['H2', 'He', 'CH4'], 'surfaceTemperatureC': {'min': None, 'max': None, 'mean': -139.15}}]

turn into a dataframe

In [38]:
df = pd.DataFrame(docs)
df

,_id,name,orderFromSun,hasRings,mainAtmosphere,surfaceTemperatureC
0,621ff30d2a3e781873fcb65c,Mercury,1,False,[],"{'min': -173, 'max': 427, 'mean': 67}"
1,621ff30d2a3e781873fcb65d,Uranus,7,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -197.2}"
2,621ff30d2a3e781873fcb65e,Mars,4,False,"[CO2, Ar, N]","{'min': -143, 'max': 35, 'mean': -63}"
3,621ff30d2a3e781873fcb65f,Neptune,8,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -201}"
4,621ff30d2a3e781873fcb660,Jupiter,5,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -145.15}"
5,621ff30d2a3e781873fcb661,Earth,3,False,"[N, O2, Ar]","{'min': -89.2, 'max': 56.7, 'mean': 14}"
6,621ff30d2a3e781873fcb662,Venus,2,False,"[CO2, N]","{'min': None, 'max': None, 'mean': 464}"
7,621ff30d2a3e781873fcb663,Saturn,6,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -139.15}"

I can do df.name or df["name"] to specify columns. To specify rows, I use the index

In [48]:
df["name"]

0    Mercury
1     Uranus
2       Mars
3    Neptune
4    Jupiter
5      Earth
6      Venus
7     Saturn
Name: name, dtype: object

In [45]:
df.name

0    Mercury
1     Uranus
2       Mars
3    Neptune
4    Jupiter
5      Earth
6      Venus
7     Saturn
Name: name, dtype: object

to get a table, put two brackets

In [ ]:
df.head()

,_id,name,orderFromSun,hasRings,mainAtmosphere,surfaceTemperatureC
0,621ff30d2a3e781873fcb65c,Mercury,1,False,[],"{'min': -173, 'max': 427, 'mean': 67}"
1,621ff30d2a3e781873fcb65d,Uranus,7,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -197.2}"
2,621ff30d2a3e781873fcb65e,Mars,4,False,"[CO2, Ar, N]","{'min': -143, 'max': 35, 'mean': -63}"
3,621ff30d2a3e781873fcb65f,Neptune,8,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -201}"
4,621ff30d2a3e781873fcb660,Jupiter,5,True,"[H2, He, CH4]","{'min': None, 'max': None, 'mean': -145.15}"

In [39]:
df["mainAtmosphere"][1]

['H2', 'He', 'CH4']

In [42]:
df.shape

(8, 6)

In [5]:
# from chatGPT as answer to: I first want to see all the keys before turning them into column labels. And I would also like to filter on a nested objects inside the json.

import pandas as pd

# Read the JSON file
# with open("file.json", "r") as file:
#     data = json.load(file)

# Display all the keys
for key in docs[0].keys():
    print(key)

Keys:
_id
name
orderFromSun
hasRings
mainAtmosphere
surfaceTemperatureC

In [46]:
df[['name','orderFromSun']]

      name  orderFromSun
0  Mercury             1
1   Uranus             7
2     Mars             4
3  Neptune             8
4  Jupiter             5
5    Earth             3
6    Venus             2
7   Saturn             6

In [31]:
client.close()

In [ ]:
import fuzzyjoin

import pymongoarrow

Pymongoarrow lets you define a "schema" which essentially lets you choose columns across the dataset